{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

     
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>  
     

</head>
<body>

    <h1>Welcome to Loginpage</h1><br>
    
       <h4><a href="/employee/homepage">Home</a></h4> 
   
    <div class = "container">
    
        <form action = "login" method="POST">
            
            {% csrf_token %} 

            <div color="red">
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor%}
            </div>
            
            <label><b>Username:</b></label>&nbsp;
            <input type="text" name="username" placeholder="Enter Username"/>
            <br><br>
            <label><b>Password:</b></label>&nbsp;
            <input type="password" name="password" placeholder="Enter Password"/>
            <br><br>
            <!-- <input type="checkbox" id="check">    
                <span>Remember me</span>  
            <br><br> -->
            <a href="#">Forgot Password</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="log" id="log" value="login"/>
            
              
              
             
    
</div>
</form>
</body>
</html>